{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="{% static "css/style.css" %} ">
</head>
<body>
    <h3> welcome {{user.firstname}}</h3>
    <div class="image">
        <img src="{{user.pphoto.url}}" alt="profile picture">
    </div>
    
    <div class="main">
        <div class="container">
        <div class="left">
            <div>
                Firstname: {{user.first_name}}
            </div>
            <div>
                lastname: {{user.last_name}}
            </div>
            <div>
                Email: {{user.email}}
            </div>
            <div>
                Username: {{user.username}}
            </div>
            
        </div>
        <div class="right">
            <div>
                Address: {{user.line1}}
            </div>
            <div>
                Pincode: {{user.pincode}}
            </div>
            <div>
                City: {{user.city}}
            </div>
            <div>
                State: {{user.state}}
            </div>

        </div>
    </div>
</div>
    <div class="button-container">
        <a href="{% url 'edit_details' %}" class="edit-button">Edit Details</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>

</body>
</html>